@using System.Data;
@{
    ViewData["Title"] = "PriceTag";
}

<h4 class="pt-5">Items</h4>

@foreach (DataRow dr in ViewBag.Items)
{
    <div class="card" style="width: 18rem;">
        <img src=@dr["FileName"] class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@dr["Name"]</h5>
            <p class="card-text">@dr["Description"]</p>
        </div>
    </div>
}