@{
    ViewData["Title"] = "PriceTag";
}

    <h4 class="pt-5 pb-1">Item Tags</h4>
<div class="pb-3">
    <a href="Index" class="nav">Home</a>
</div>

<div>
    @await ViewBag.WebReport.Render()
</div>
